/**
* Breadcrumb Area
*/

.cr-breadcrumb{
    padding-top: 120px;
    padding-bottom: 150px;
    h1{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5px;
    }
    ul{
        padding-left: 0;
        margin-bottom: 0;
        li{
            display: inline-block;
            color: #ffffff;
            font-style: italic;
            font-family: $heading-font;
            &::after{
                content: "/";
                padding: 0 3px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            a{
                display: inline-block;
                color: #ffffff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@for $i from 1 through 10{
	.bg-breadcrumb-#{$i}{
		background-image: url(images/bg/bg-breadcrumb-#{$i}.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

@media #{$md-layout}{
    .cr-breadcrumb{
        padding-top: 90px;
        padding-bottom: 110px;
        h1{
            font-size: 42px;
        }
    }
}

@media #{$sm-layout}{
    .cr-breadcrumb{
        padding-top: 70px;
        padding-bottom: 90px;
        h1{
            font-size: 36px;
        }
    }
}