/*************************
 Bootstrap Custom Container
************************/
.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px){
  .container, 
  .container-sm {
    max-width: 540px;
}
}

@media (min-width: 768px){
  .container, 
  .container-md, 
  .container-sm {
    max-width: 720px;
}
}

@media (min-width: 992px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm {
    max-width: 960px;
}
}

@media (min-width: 1200px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1400px){
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl, 
  .container-xxl {
    max-width: 1200px;
  }
}


.row {
  --bs-gutter-x: 30px;
}

.g-0, .gx-0 {
    --bs-gutter-x: 0;
}