/**
* Upcoming Events
*/

.events-triggers{
    background: rgba(#111212, 0.9);

    & > h4{
        color: #ffffff;
        font-family: $body-font;
        text-transform: uppercase;
        border-bottom: 1px solid #2f2f30;
        margin-bottom: 0;
        padding: 22px 35px;   
        font-weight: 700; 
    }

    ul.nav{
        display: block;
        padding: 20px 35px;
        li{
            a{
                font-weight: 700;
                font-size: 20px;
                color: #9d9d9e;
                text-transform: uppercase;
                padding: 8px 0;
                &.active{
                    color: #ffffff;
                }
            }
        }
    }

}


.events-wrap{
    margin-top: -20px;
}

.event-single{
    background: #ffffff;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    transition: all 1s ease-out 1s;
    color: $body-color;
    transition: all 0.4s ease-out 0s;

    .event-thumb{
        display: inline-block;
        flex: 0 0 150px;
        overflow: hidden;
        img{
            transition: all 0.4s ease-out 0s;
            width: 100%;
        }
    }

    .event-content{
        flex-shrink: 100%;
        padding: 30px;
        span{
            color: $color-blue;
            font-weight: 700;
            font-family: $body-font;
            &::before{
                content: "\f017";
                font-family: 'fontAwesome';
                padding-right: 5px;
                font-weight: 400;
            }
        }
    }

    &:hover{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        color: $body-color;
        .event-thumb{
            img{
                transform: scale(1.2);
            }
        }
    }

}


@media #{$lg-layout}{
    .event-single .event-content{
        padding: 18px;
    }
}

@media #{$md-layout}{
    .events-wrap{
        margin-top: 0;
    }
    .event-single .event-content{
        padding: 18px;
    }
}

@media #{$sm-layout}{
    .events-wrap{
        margin-top: 0;
    }
    .event-single .event-content{
        padding: 18px;
    }
    .events-triggers ul.nav li a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px){
    .event-single{
        flex-wrap: wrap;
        padding: 20px;

        .event-thumb{
            flex: 0 0 120px;
        }

        .event-content{
            padding: 0;
            padding-top: 20px;
        }

    }
}








/* Event Style 2 */
.events-triggers-2{
    flex: 0 0 230px;
    background: #242323;
    

    h4{
        font-size: 22px;
        color: #ffffff;
        font-family: $body-font;
        font-weight: 700;
        padding: 33px 25px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    ul.nav{
        flex-wrap: wrap;
        border-top: 1px solid #3c3d3e;
        li{
            display: block;
            width: 100%;
            a{
                border-bottom: 1px solid #3c3d3e;
                padding: 11px 25px;
                display: block;
                font-size: 16px;
                font-weight: 700;
                font-family: $heading-font;
                color: #9d9d9e;
                &.active{
                    color: $color-yellow;
                    border-color: $color-yellow;
                }
            }
        }
    }

}


.event-single-2{
    display: flex !important;
    width: 100%;

    .event-thumb{
        margin-right: 30px;
        img{
            vertical-align: top;
        }
    }

    .event-content{
        flex-shrink: 100;
        padding: 30px 0;

        h4{
            font-weight: 700;
            a{
                color: $heading-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }

        span{
            color: $color-blue;
            font-weight: 600;
            font-family: $body-font;
            font-size: 16px;
            display: block;
            margin-bottom: 15px;
            &::before{
                content: "\f017";
                font-family: 'fontAwesome';
                padding-right: 5px;
                font-weight: 400;
            }
        }
    }

    .social-icons{
        border-top: 1px solid #ebebec;
        padding: 15px 0;

        ul{
            li{
                margin: 0 8px;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: #888888;
                    font-size: 18px;
                }
            }
        }
    }

}



.events2-outer-wrapper{
    display: flex;
    .tab-content {
        width: calc(100% - 230px);
    }
    .tab-content .tab-pane {
        display: block;
        height: 0;
        max-width: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
    }
    .tab-content .tab-pane.active {
        height: auto;
        visibility: visible;
        opacity: 1;
        overflow: visible;
    }
}

.events2-wrap-inner{
    position: relative;
    .cr-navigation{
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 40px;
        display: inline-block;
        border-radius: 3px;
        background: transparent;
        border: 1px solid $heading-color;
        font-size: 22px;
        text-align: center;
        padding: 6px 0;
        color: $heading-color;
        z-index: 1;
        cursor: pointer;
        transition: all 0.4s ease-out 0s;

        &:hover{
            background: $color-yellow;
            border-color: $color-yellow;
            color: #ffffff;
        }

        &.cr-navigation-prev{
            left: 60%;
            right: auto;
        }

        &.cr-navigation-next{
            left: calc(60% + 45px);
            right: auto;
        }

    }
}


@media #{$lg-layout}{
    .events2-outer-wrapper{
        flex-wrap: wrap;
    }
    .events-triggers-2{
        flex: 0 0 100%;
        ul.nav{
            padding-bottom: 20px;
        }
        ul.nav li {
            width: 45%;
            margin: 0 auto;
        }
    }
    .events2-outer-wrapper .tab-content{
        margin-top: 30px;
        width: 100%;
    }
    .events2-wrap-inner .cr-navigation.cr-navigation-prev{
        left: 61%;
    }
    .events2-wrap-inner .cr-navigation.cr-navigation-next {
        left: calc(61% + 45px);
    }
}


@media #{$md-layout}{
    .events2-outer-wrapper{
        flex-wrap: wrap;
    }
    .events-triggers-2{
        flex: 0 0 100%;
        ul.nav{
            padding-bottom: 20px;
        }
        ul.nav li {
            width: 45%;
            margin: 0 auto;
        }
    }
    .events2-outer-wrapper .tab-content{
        margin-top: 30px;
        width: 100%;
    }
    .event-single-2 .event-thumb{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .event-single-2 .event-content{
        padding: 0;
    }
    .events2-wrap-inner{
        padding-bottom: 50px;
        .cr-navigation.cr-navigation-prev{
            left: auto;
            right: calc(50% + 5px);
        }
        .cr-navigation.cr-navigation-next {
            left: calc(50% + 5px);
            right: auto;
        }
    }
}


@media #{$sm-layout}{
    .events2-outer-wrapper{
        flex-wrap: wrap;
    }
    .events-triggers-2{
        flex: 0 0 100%;
        ul.nav{
            padding-bottom: 20px;
        }
        ul.nav li {
            width: 45%;
            margin: 0 auto;
        }
    }
    .events2-outer-wrapper .tab-content{
        margin-top: 30px;
        width: 100%;
    }
    .event-single-2{
        flex-wrap: wrap;
    }
    .event-single-2 .event-thumb{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .event-single-2 .event-content{
        padding: 0;
        padding-top: 30px;
    }
    .events2-wrap-inner{
        padding-bottom: 50px;
        .cr-navigation.cr-navigation-prev{
            left: auto;
            right: calc(50% + 5px);
        }
        .cr-navigation.cr-navigation-next {
            left: calc(50% + 5px);
            right: auto;
        }
    }
}

@media #{$xs-layout}{
    .events-triggers-2 ul.nav li{
        width: 100%;
    }
}
