/**
* Promo Video Area
*/

.video-promo-content{
    padding-top: 10px;
    p{
        margin-bottom: 20px;
    }
    .cr-btn{
        margin-top: 20px;
    }
}

.videobox{
    iframe{
        border: none;
        outline: none;
    }
}

@media #{$md-layout}{
    .video-promo-content{
        padding-top: 30px;
    }
}

@media #{$sm-layout}{
    .video-promo-content{
        padding-top: 30px;
    }
}