/**
* About Styles
*/

.about-text{
    img{
        margin-bottom: 20px;
    }
    h4{
        font-weight: 700;
        margin-bottom: 28px;
    }
    h2{
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .button-group{
        margin-top: 30px;
    }
}


.pg-about-content{
    &.text-center{
        padding: 30px 70px;
    }
    h3{
        font-weight: 800;
    }
    p{
        &:first-of-type{
            padding-top: 50px;
        }
    }
    .cr-btn{
        margin-top: 50px;
    }
}

.about-page-skill-content{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    & > h3{
        text-transform: uppercase;
        font-weight: 800;
        position: relative;
        padding-bottom: 20px;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 50px;
            background: $heading-color;
        }
    }
    .progress-bars{
        padding-top: 40px;
    }
}


@media #{$xlg-layout}{
    .pg-about-content{
        &.text-center{
            padding: 30px;
        }
        p:first-of-type{
            padding-top: 0;
        }
        .cr-btn{
            margin-top: 0;
        }
    }
    .about-page-skill-content{
        width: 85%;
        .progress-bars{
            padding-top: 20px;
        }
    }
}

@media #{$lg-layout}{
    .pg-about-thumb{
        text-align: center;
        img{
            width: 75%;
            display: inline-block;
        }
    }
    .pg-about-content{
        width: 75%;
        margin: 0 auto;
        &.text-center{
            padding: 50px 0;
        }
        p:first-of-type{
            padding-top: 0;
        }
        .cr-btn{
            margin-top: 20px;
        }
    }
    .about-page-skill-content{
        width: 85%;
        .progress-bars{
            padding-top: 20px;
        }
    }
    .about-page-skills-image{
        width: 85%;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media #{$md-layout}{
    .pg-about-thumb{
        text-align: center;
        img{
            width: 90%;
            display: inline-block;
        }
    }
    .pg-about-content{
        width: 90%;
        margin: 0 auto;
        &.text-center{
            padding: 50px 0;
        }
        p:first-of-type{
            padding-top: 0;
        }
        .cr-btn{
            margin-top: 20px;
        }
    }
    .about-page-skill-content{
        width: 90%;
        .progress-bars{
            padding-top: 20px;
        }
    }
    .about-page-skills-image{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media #{$sm-layout}{
    .pg-about-thumb{
        text-align: center;
        img{
            width: 90%;
            display: inline-block;
        }
    }
    .pg-about-content{
        width: 90%;
        margin: 0 auto;
        &.text-center{
            padding: 50px 0;
        }
        p:first-of-type{
            padding-top: 0;
        }
        .cr-btn{
            margin-top: 20px;
        }
    }
    .about-page-skill-content{
        width: 90%;
        .progress-bars{
            padding-top: 20px;
        }
    }
    .about-page-skills-image{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
}