/**
* Athor Styles
*/

.author{
    display: flex;
    flex-direction: column;
    background: #ffffff;

    .author-thumb{
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(#000000, 0.5);
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease-out 0s;
        }
        img{
            width: 100%;
            transform: scale(1);
            transition: all 0.4s ease-out 0s;
        }
    }

    .author-content{
        min-height: 290px;
        padding: 35px 30px;
        position: relative;
        z-index: 2;

        &::before{
            content: "";
            left: 40px;
            top: auto;
            bottom: 100%;
            position: absolute;
            border-width: 15px;
            border-style: solid;
            border-color: transparent transparent #ffffff transparent;
        }

        h6{
            color: $body-color;
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            margin-bottom: 0;
            font-family: $body-font;
        }

        h4{
            text-transform: uppercase;
            font-weight: 700;
        }

        p{
            font-size: 16px;
            margin-bottom: 45px;
        }

        .social-icons{
            border-top: 1px solid #f2f2f2;
            padding-top: 8px;
            position: absolute;
            left: 30px;
            bottom: 40px;
            width: calc(100% - 60px);
        }

    }

    &.author-reverse{
        flex-direction: column-reverse;

        .author-content{
            min-height: 290px;
            padding: 35px 30px;
            position: relative;

            &::before{
                top: 100%;
                bottom: auto;
                border-color: #ffffff transparent transparent transparent;
            }
        }

    }

    &.author-style-2{
        position: relative;
        .author-content{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            min-height: auto;

            h6{
                color: #c5c5c5;
            }

            &::before{
                display: none;
            }

            h4{
                color: #ffffff;
                margin-bottom: 5px;
            }

            .social-icons{
                position: relative;
                left: 0;
                bottom: 0;
                width: 100%;
            }

        }
        .social-icons{
            ul{
                li{
                    a{
                        color: #999999;
                    }
                }
            }
        }
    }

    &:hover{
        .author-thumb{
            &::before{
                visibility: visible;
                opacity: 1;
            }
            img{
                transform: scale(1.2);
            }
        }
    }

}

@media #{$lg-layout}{
    .author.author-reverse .author-content,
    .author .author-content{
        padding: 20px;
    }
    .author .author-content h4{
        margin-bottom: 10px;
    }
    .author .author-content, .author.author-reverse .author-content{
        min-height: 230px;
    }
    .author .author-content p{
        height: 75px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .author .author-content .social-icons{
        bottom: 20px;
        left: 20px;
    }
}


@media #{$md-layout}{
    .author .author-content, .author.author-reverse .author-content {
        min-height: 342px;
    }
}

@media #{$sm-layout}{
    .author.author-reverse .author-content,
    .author .author-content{
        padding: 20px;
    }
    .author .author-content h4{
        margin-bottom: 10px;
    }
    .author .author-content, .author.author-reverse .author-content{
        min-height: 253px;
    }
    .author .author-content p{
        height: 105px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .author .author-content .social-icons{
        bottom: 20px;
        left: 20px;
    }
    
}

@media #{$xs-layout}{
    .author{
        &.author-reverse{
            flex-direction: column;

            .author-content{
                &::before{
                    top: auto;
                    bottom: 100%;
                    border-color: transparent transparent #ffffff transparent;
                }
            }

        }
    }
}