/**
* Blog Item Styles
*/
.blog-item-list{
    margin-top: -30px;
    [class^="col-"]{
        margin-top: 30px;
    }
}
.blog-item{
    height: 100%;
    transition: all 0.4s ease-out 0s;

    .blog-item-inner{
        background: #ffffff;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .blog-item-thumb{
        align-self: flex-start;
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        img{
            transform: scale(1);
            transition: all 0.4s ease-out 0s;
            width: 100%;
        }
        &::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: rgba($theme-color, 0.5);
        }
    }

    .blog-item-content{
        align-self: flex-start;
        width: 100%;
        padding: 30px 30px 0 30px;
        flex-grow: 100;
        
    }

    .blog-item-title{
        color: $heading-color;
        a{
            color: $heading-color;
            &:hover{
                color: $color-yellow;
            }
        }
    }

    .blog-item-meta{
        align-self: flex-end;
        padding: 15px 30px 35px 30px;
        position: relative;
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 120px;
            left: 30px;
            top: 0;
            background: #ebebec;
        }
    
        span{
            padding-right: 10px;
            color: $heading-color;
            i{
                color: $color-yellow;
                padding-right: 4px;
                transition: all 0.3s ease-in-out 0s;
            }
            a{
                color: $heading-color;
                &:hover{
                    color: $color-yellow;
                    i{
                        color: $color-yellow;
                    }
                }
            }
        }
    
    }

    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        .blog-item-thumb{
            img{
                transform: scale(1.2);
            }
        }

    }

}


@media #{$xs-layout}{
    .blog-item .blog-item-content{
        padding: 20px 20px 0 20px;
    }
    .blog-item .blog-item-meta{
        padding: 15px 20px 25px 20px;
        &::before{
            left: 20px;
        }
    }
}



/* Popular Post */
.popular-post{
    .popular-post-thumb{
        display: block;
        padding-bottom: 15px;
        img{
            width: 100%;
        }
    }
    h6{
        font-size: 13px;
        font-weight: 700;
        color: $heading-color;
        text-transform: uppercase;
        margin-bottom: 0px;
        a{
            color: $heading-color;
            &:hover{
                color: $theme-color;
            }
        }
    }
    span{
        color: #666666;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
    }
}

.polular-post-slider-active{
    padding-top: 10px;
    .cr-navigation{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        height: 30px;
        width: 30px;
        display: inline-block;
        border-radius: 0;
        background: #f7f7f7;
        border: 1px solid #f7f7f7;
        font-size: 18px;
        text-align: center;
        padding: 1px 0;
        color: #adadad;
        z-index: 2;
        cursor: pointer;
        transition: all 0.4s ease-out 0s;
        visibility: hidden;
        opacity: 0;

        &:hover{
            background: $theme-color;
            border-color: $theme-color;
            color: #ffffff;
        }

        &.cr-navigation-prev{
            left: 15px;
            right: auto;
        }

        &.cr-navigation-next{
            left: auto;
            right: 15px;
        }

    }
    
    &:hover{
        .cr-navigation{
            opacity: 1;
            visibility: visible;
        }
    }
}